* { box-sizing: border-box;}

/* full height*/
html, body {height: 98%; }
.sidenav,.content, .row {height: 94%;}
.content{margin-right: 10px;}

.header,.footer{color: white; text-align: center; padding:3px}

/* Theme colors background font size*/
html, body{background-color: blue;font-size: small;}
::-webkit-scrollbar {width: 8px;height:8px;}
::-webkit-scrollbar-track {background: #ddd; }
::-webkit-scrollbar-thumb {background: #a0a0d4;   border-radius:250px;}
::-webkit-scrollbar-thumb:hover {background: blue; border-radius:250px;}



/* Style the side navigation */
.sidenav 	{width: 20%; max-width:150px; float:left;}
.sidenav a 	{	color: white; padding: 10px; display: block;}
.sidenav a:hover { background-color: #ddd; color: #4732f3;}

/* Container for flexboxes */
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
.row { display: flex; }

@media (max-width: 600px) {
 .row {  flex-direction: column; }
}

.column{overflow:auto;background-color:#ddd;}
.config{min-width: 20%;}
.musicnotes{min-width: 60%;}
.information{min-width: 20%; }

.musictitle, .jsonInfo, .music_tal{
  text-align: left;
  overflow-wrap: break-word;
  background-color:white;
  outline:none;
  border-bottom: 1px solid blue;
  border-width:0 0 2px 0px;
  border-radius:5px;
  padding:10px;
  margin:10px;  
}

.musicnames{ margin: 10px; max-height:60%;}
.musicname{ margin: 2px; padding:5px; border:none; background-color:white; width:fit-content;}

.saveMusicNote, .newMusicLine
{ color:white; background-color:blue; border-radius:5px; padding:10px;  margin-left: 10px;}

.musicline, .khand{display:flex;flex: auto; flex-wrap: wrap;}
.musicline{margin:10px;}
.khand{
  background-color:white; 
  max-width:fit-content; 
  margin:1px; 
  padding:1px;
  border-bottom: 1px solid blue;  border-width:0 0 1px 0px;  border-radius:5px;
  } 
.matra{
  padding: 3px; margin:3px;  font-size:small; outline: none; 
  border-bottom: 1px solid blue;  border-width:0 0 1px 0px;  border-radius:55px;
  }
.matra:focus{border:1px solid blue; border-radius:0px;}
.musicline .far:before{ font-size:10px; font-weight: bold; margin-left:7px;}
.kal:before{ font-weight: normal;}

/*.tali:before, .sam:before, .kal:before{} */
/* .tali:before{} */
/* .sam:before{} */




